body {
    margin: 0;
    background-color: beige;
    font-size: 30px;
}

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 15px;
}

@media (max-width: 600px) { /* when width of viewport is 600px or less*/
    /* very small screen */
    body {
        background-color: red;
        font-size: 10px;
    }
}

@media (min-width: 600px) { /* when width of viewport is 600px or more , incase of 600 px it will override with this one*/
    /* tablet screen */
    body {
        background-color: yellow;
        font-size: 15px;
    }
}

@media (min-width: 786px) {
    /* medium devices */
    body {
        background-color: aqua;
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    /* laptop / deskop */
    body {
        background-color: orange;
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    /* large laptop / deskop */
    body {
        background-color: pink;
        font-size: 40px;
    }

    .text {
        display: none;
    }
}