body {
    margin: 0;
}

.parent {
    background-color: #23424A;
    padding: 50px;
    margin: 0 auto;
    /* width: 900px; */
    width: 80%; /* this will allow itself to adjust when we are changing the size of the browser */
}

.child {
    background-color: #38CFD9;
    /* height: 250px; In order to avoid the text going out, its better to not set the height */
    width: 50%; /* This always depends on the size of its parent*/
    /* CSS is always responsive, so if anything is  not working well, we might have added something */
    padding: 5em; /* 1em = 16px, 5 em = 80px*/
}