body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.col-3 {
    width: 25%;
    border: 1px solid red;
    float: left;
}

.col-9 {
    width: 75%;
    border: 1px solid green;
    float: left;
}

