body {
    margin: 0;
}

.parent-em {
    font-size: 26px;
    text-align: center;
}

.child-em {
    margin: 2em;
    font-size: 3em;
}

.parent-rem {
    font-size: 26px;
    text-align: center;
}

.child-rem {
    margin: 2rem;
    font-size: 3rem;
}


