* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    height: 100%;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 20px 14px;
    height: 100%;
}

nav ul li:hover {
    background-color: #ccc;
}

.left-nav {
    display: flex;
    justify-content: start;
}

.right-nav {
    display: flex;
    justify-content: end;
}

ul {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.expanded {
    display: none;
}

.btn-sidebar {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
}

.sidebar {
    display: none;
    background-color: black;
    width: 200px;
    height: 100%;
    color: white;
    position: fixed;
    top: 0;
}

.sidebar ul li {
    padding: 10px 12px;
    display: block;
}

.header {
    background-size: cover;
    background-image: url(./images/mac.jpg);
    min-height: 100vh;
    background-position: center;
}

.image-center-text {
    position: absolute;
    top: 30%;
    color: white;
    padding: 100px;
}

.image-center-text p {
    margin-bottom: 30px;
    font-size: 24px;
}

.image-btn {
    background-color: white;
    opacity: 0.5;
    padding: 20px;
    border: none;
    font-size: 20px;
}

.first-heading {
    margin-bottom: 40px;
    font-size: 64px;
}

.image-icons {
    position: absolute;
    bottom: 20px;
    opacity: 0.5;
    left: 100px;
    color: white;
}

@media (min-width: 601px) {
    .expanded {
        display: flex;
    }
    .bars {
        display:none;
    }
}