* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav {
    /* background-color: red; */
    /* position: fixed; */
}

nav ul {
    height: 100%;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 20px 14px;
    height: 100%;
}

nav ul li:hover {
    background-color: #ccc;
}

.left-nav {
    display: flex;
    justify-content: start;
}

.right-nav {
    display: flex;
    justify-content: end;
}

ul {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.expanded {
    display: none;
}

.btn-sidebar {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
}

.sidebar {
    display: none;
    background-color: black;
    width: 200px;
    height: 100%;
    color: white;
    position: fixed;
    top: 0;
}

.sidebar ul li {
    padding: 10px 12px;
    display: block;
}


@media (min-width: 601px) {
    .expanded {
        display: flex;
    }
    .bars {
        display:none;
    }
}